[submodule "git"]
	path = git
	url = git@github.com:ColonelJ/git.git
[submodule "html"]
	path = doc/git/html
	url = git@github.com:ColonelJ/git-htmldocs.git
[submodule "git-cheetah"]
	path = src/git-cheetah
	url = git@github.com:ColonelJ/Git-Cheetah.git
